@model Identity.Models.ViewModels.LoginViewModel
<form asp-controller="Auth" asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl"/>
    <div>
        <label>Username</label>
        <input asp-for="Username"/>
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <button type="submit"></button>
    </div>
    <a asp-controller="Auth" asp-action="Register" asp-route-returnUrl="@Model?.ReturnUrl"></a>
</form>
